@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}




  
  /* Add this to your CSS file */
.skew-container {
    transform: skewY(4deg);
  }
  
  .unskew-child {
    transform: skewY(-4deg);
  }
  