@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #FFF;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59, 173, 156);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(53, 188, 168);
}


.fade {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }   
   