/* fonts.css */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 800;
    font-display: swap;
    src: url('/client/src/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 800;
    font-display: swap;
    src: url('/client/src/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  }
  